@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tektur:wght@400..900&display=swap");
@import "tailwindcss";
@import "./components/common/style.css";
@import "./components/home/style.css";
@import "./components/gallery/style.css";
@import "./components/samples/style.css";
@import "./components/booking/style.css";
@import "./components/book/style.css";

@theme {
  --font-tektur: "Tektur", cursive;
  --font-poppins: "Poppins", sans-serif;
  --font-courier: "Courier Prime", monospace;
  --font-bungee: "Bungee", cursive;
  --color-raisin-black: #292828;
  --color-raisin-black-50: #ffffff;
  --color-raisin-black-100: #d4d4d4;
  --color-raisin-black-200: #a9a9a9;
  --color-raisin-black-300: #7f7e7e;
  --color-raisin-black-400: #545353;
  --color-raisin-black-500: #292828;
  --color-raisin-black-600: #212020;
  --color-raisin-black-700: #191818;
  --color-raisin-black-800: #101010;
  --color-raisin-black-900: #080808;
  --color-chrysler-blue: #561ebc;
  --color-chrysler-blue-50: #ffffff;
  --color-chrysler-blue-100: #ddd2f2;
  --color-chrysler-blue-200: #bba5e4;
  --color-chrysler-blue-300: #9a78d7;
  --color-chrysler-blue-400: #784bc9;
  --color-chrysler-blue-500: #561ebc;
  --color-chrysler-blue-600: #451896;
  --color-chrysler-blue-700: #341271;
  --color-chrysler-blue-800: #220c4b;
  --color-chrysler-blue-900: #110626;
  --color-timberwolf: #b1ada8;
  --color-timberwolf-50: #f0f0f0;
  --color-timberwolf-100: #e0e0e0;
  --color-timberwolf-200: #d0d0d0;
  --color-timberwolf-300: #c0c0c0;
  --color-timberwolf-400: #b0b0b0;
  --color-timberwolf-500: #a0a0a0;
  --color-timberwolf-600: #909090;
  --color-timberwolf-700: #808080;
  --color-timberwolf-800: #707070;
  --color-timberwolf-900: #606060;
  --color-imperial-red: #f03a47;
  --color-primary: #561ebc;
  --color-secondary: #1e0944;
  --color-facebook: #1877f2;
  --color-instagram: #e1306c;
  --color-twitter: #1da1f2;
  --color-youtube: #ff0000;
  --color-tiktok: #010101;
  --color-spotify: #1db954;
  --color-applemusic: #ff0436;
  --font-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

:root {
  @apply leading-4 font-normal;
}

body {
  @apply h-screen bg-raisin-black-500 text-timberwolf-500;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bungee leading-tight text-white;
}

p,
li {
  @apply font-poppins leading-relaxed font-[400];
}

header > .container {
  @apply flex justify-between items-center;
}

section.hero {
  @apply relative h-screen w-full;
}

.container {
  @apply px-4 md:px-8 lg:px-16 xl:px-32 mx-auto;
}

.footer {
  @apply flex flex-col gap-4 items-center pt-10 pb-3 shadow-md;
}

.title {
  @apply font-bungee font-bold drop-shadow-2xl leading-tight;
}

.title::after {
  @apply content-[''] absolute -bottom-2 left-0 bg-chrysler-blue h-2 w-20 rounded-full;
}

.nav-list {
  display: flex;
  gap: 1rem;
}

.btn {
  @apply font-bold rounded-sm px-8 py-2 shadow-md;
}

.btn-full {
  @apply w-full py-4;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-lg {
  @apply px-16 py-4;
}

.btn-dark {
  @apply bg-gray-900 text-white;
}

.btn-white {
  @apply bg-white text-primary;
}

.btn-transparent {
  @apply bg-transparent text-primary border-2 border-primary;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.fullscreen {
  @apply absolute flex justify-center items-center transition-all  duration-300 ease-in-out;
}

.bg {
  background: #d0d0d0;
}

.fullscreen.notready {
  color: #606060;
}

.fullscreen.loaded > div {
  @apply cursor-pointer;
}

.fullscreen.clicked {
  @apply pointer-events-none opacity-0;
}

.pmndrs-menu,
.pmndrs-menu > div b {
  @apply text-gray-900;
}

.pmndrs-menu svg {
  @apply fill-gray-900;
}

.skyline {
  @apply absolute bg-[url('/svg/skyline.svg')] bottom-0 right-0 w-full h-full bg-[length:100%_50%] bg-bottom bg-no-repeat z-10 opacity-5;
}
